header p {
   font-family: Verdana;
   font-weight: normal;
   font-size: 50px;
   color: white;
   text-align: center; 
}

body {
    background-color: black;
    text-align: center;
}

a {
    color: Aquamarine;
    font-size: 16px;
    text-align: center;
}

#sectionTitle {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

section p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

footer {
    color: gray;
    text-align: right;
}